@model ADServerManagementWebApplication.Models.RegisterViewModel

@{
	ViewBag.Title = "Rejestracja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
	<div class="panel panel-heading">
		<h3>@ViewBag.Title</h3>
	</div>
	@using (Html.BeginForm())
	{
		<div class="panel-body">
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				@Html.ValidationSummary(true)

				<fieldset>
					<legend>Dane do logowania</legend>
					<div class="form-group">
						@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Name)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.PasswordFor(model => model.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Password)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.ConfirmPassword)
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Dane kontaktowe</legend>
					<div class="form-group">
						@Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.FirstName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.LastName)
						</div>
					</div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
					<div class="form-group">
						@Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.CompanyName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.CompanyAddress, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.CompanyAddress, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.CompanyAddress)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.AdditionalInfo, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.AdditionalInfo, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.AdditionalInfo)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Url)
						</div>
					</div>
				</fieldset>
			</div>

			<input id="btnSave" class="btn btn-success" type="submit" value="Zapisz"/>
			<a href="@Url.Action("Login")" class="btn btn-danger">Wróć</a>
		</div>
	}
</div>
